readTemplate('/home/oracle/Weblogic/app/oracle/middleware/wlserver/common/templates/wls/wls.jar')
cd('Servers/AdminServer')
cmo.setListenAddress('')
setOption('ServerStartMode','dev')
set('ListenPort', 7001)
create('AdminServer','SSL')
cd('SSL/AdminServer')
set('Enabled','True')
set('ListenPort', 7002)
cd('/')
cd('Security/base_domain/User/weblogic')
cmo.setPassword('weblogic1')
setOption('ServerStartMode','dev')
setOption('OverwriteDomain','true')
writeDomain('/home/oracle/Weblogic/app/oracle/middleware/user_projects/domains/myFirstDomain')
closeTemplate()
exit()
